body
{
    margin: 0;
    height: 100%;
}
.header
{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}
.logo-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width: 80%;
}

.logo-content-img
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 52px;
    margin-top: 5%;
}
.address-text
{
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
    text-align: left;
    width: 112px;
    height: 27px;
    font-weight: 1200;
}
.address-book
{
    color: #42515F;
}
*{
    box-sizing: border-box;
}

