body
{
    margin: 0;
    height: 100%;
}
.header
{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}
.logo-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width: 80%;
}

.logo-content-img
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 52px;
    margin-top: 5%;
}
.address-text
{
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
    text-align: left;
    width: 112px;
    height: 27px;
    font-weight: 1200;
}
.address-book
{
    color: #42515F;
}
*{
    box-sizing: border-box;
}

.text-content
{
    margin-left: 10px;
}
.form-content
{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form
{
    width: 57%;
    height: 803px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 104px;
    margin-top: 67px;
    
}

.form-text
{
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;


}
.form-head
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 173px;
    left: 427px;
    width: 100%;
    height: 108px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.cancel-img
{
    margin-left: auto;
    margin-right: 56px;

}

.form-text
{
    position: absolute;
}

.input
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    height: 50px;
    margin-top: 8px;

}
.row-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin:20px 120px;
}

.input-label
{
    width: 100%;
}
.text
{
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}

.address
{
    height: 105px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    resize: none;
}

.place
{
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}
select
{
    width: 100%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    margin-top: 8px;
    padding: 10px ;
    appearance: none;
    background-image: url('../assets/icons/arrow.png');
    background-position: right ;


}
